# GeoPandas comparisons for spatialmerge tests

## merge tests

In [28]:
import geopandas

## sjoin tests

### cities <-> countries

In [29]:
cities = geopandas.read_file("./geometries/cities.json")

In [31]:
cities.head()

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id,geometry
0,Tokyo,Tokyo,35.6897,139.6922,Japan,JP,JPN,Tōkyō,primary,37977000.0,1392685764,POINT (35.68970 139.69220)
1,Jakarta,Jakarta,-6.2146,106.8451,Indonesia,ID,IDN,Jakarta,primary,34540000.0,1360771077,POINT (-6.21460 106.84510)
2,Delhi,Delhi,28.6600,77.2300,India,IN,IND,Delhi,admin,29617000.0,1356872604,POINT (28.66000 77.23000)
3,Mumbai,Mumbai,18.9667,72.8333,India,IN,IND,Mahārāshtra,admin,23355000.0,1356226629,POINT (18.96670 72.83330)
4,Manila,Manila,14.5958,120.9772,Philippines,PH,PHL,Manila,primary,23088000.0,1608618140,POINT (14.59580 120.97720)

In [30]:
countries = geopandas.read_file("./geometries/countries.json")

In [36]:
countries.head()

  ISO_A3                                           geometry
0    ABW  POLYGON ((-69.99694 12.57758, -70.04874 12.632...
1    AFG  POLYGON ((71.04980 38.40866, 71.01864 38.44982...
2    AGO  MULTIPOLYGON (((11.73752 -16.69258, 11.72666 -...
3    AIA  POLYGON ((-63.03767 18.21296, -63.01155 18.220...
4    ALB  POLYGON ((20.06496 42.54676, 20.03922 42.55777...

In [32]:
joined_cities = geopandas.sjoin(cities, countries)

In [38]:
# sorty by city id to simplify comparison with JS
joined_cities.sort_values('id', inplace=True)

In [39]:
joined_cities

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id,geometry,index_right,ISO_A3
1390,Kandahār,Kandahar,31.6078,65.7053,Afghanistan,AF,AFG,Kandahār,admin,491500.0,1004003059,POINT (31.60780 65.70530),191,RUS
7712,Qalāt,Qalat,32.1061,66.9069,Afghanistan,AF,AFG,Zābul,admin,12191.0,1004016690,POINT (32.10610 66.90690),191,RUS
4164,Pul-e Khumrī,Pul-e Khumri,35.9500,68.7000,Afghanistan,AF,AFG,Baghlān,admin,113500.0,1004123527,POINT (35.95000 68.70000),191,RUS
3507,Ghaznī,Ghazni,33.5492,68.4233,Afghanistan,AF,AFG,Ghaznī,admin,143379.0,1004167490,POINT (33.54920 68.42330),191,RUS
9120,Pul-e ‘Alam,Pul-e `Alam,33.9953,69.0227,Afghanistan,AF,AFG,Lōgar,admin,NaN,1004180853,POINT (33.99530 69.02270),191,RUS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5298,Suharekë,Suhareke,42.3800,20.8219,Kosovo,XK,XKS,Suharekë,admin,59722.0,1901918563,POINT (42.38000 20.82190),194,SAU
8296,Junik,Junik,42.4761,20.2775,Kosovo,XK,XKS,Junik,admin,6084.0,1901930204,POINT (42.47610 20.27750),194,SAU
22515,Donje Žabare,Donje Zabare,42.8714,20.8411,Kosovo,XK,XKS,Mitrovicë e Jug,None,7394.0,1901942268,POINT (42.87140 20.84110),194,SAU
7977,Hani i Elezit,Hani i Elezit,42.1475,21.2992,Kosovo,XK,XKS,Hani i Elezit,admin,9403.0,1901964789,POINT (42.14750 21.29920),194,SAU
7130,Leposaviq,Leposaviq,43.1000,20.8000,Kosovo,XK,XKS,Leposaviq,admin,18600.0,1901974597,POINT (43.10000 20.80000),194,SAU

In [40]:
joined_cities.to_file("./output/merged_cities_geopandas.json", driver='GeoJSON')

### #3 - Sacramento Neighborhoods <-> Sacramento Parks Public Restrooms

In [46]:
neighborhoods = geopandas.read_file("./geometries/Neighborhoods.json")

In [56]:
neighborhoods.head()

,OBJECTID,NAME,SHAPE_Length,SHAPE_Area,geometry
0,1,Natomas Creek,0.048458,0.000131,"MULTIPOLYGON (((-121.54012 38.67073, -121.5400..."
1,2,Regency Park,0.053250,0.000152,"MULTIPOLYGON (((-121.49346 38.67733, -121.4945..."
2,3,Village 12,0.030952,0.000051,"MULTIPOLYGON (((-121.49341 38.67072, -121.4969..."
3,4,Valleyview Acres,0.032608,0.000061,"MULTIPOLYGON (((-121.47768 38.66306, -121.4787..."
4,5,Creekside,0.066723,0.000205,"MULTIPOLYGON (((-121.52409 38.67051, -121.5240..."

In [47]:
restrooms = geopandas.read_file("./geometries/Parks_Public_Restrooms.json")

In [57]:
restrooms.head()

,OBJECTID,Facility,JURISDICTION,WithinPark,GlobalID,geometry
0,216,AIRPORT LITTLE LEAGUE PARK,City,Yes,{75922410-F154-4E4A-8315-E418D5D7E6E6},POINT (-121.48360 38.50893)
1,217,ARGONAUT PARK,City,Yes,{43862561-A2F8-475F-AB90-B5A910F0CCA7},POINT (-121.50512 38.51823)
2,218,EARL WARREN PARK,City,Yes,{08620378-D56D-4BA7-A0E3-0FC17A9C231C},POINT (-121.41690 38.52726)
3,219,FRANKLIN BOYCE COMMUNITY PARK,City,Yes,{F97BE94D-4692-437E-B995-EDC5F3C68438},POINT (-121.45245 38.47824)
4,220,JOHN FREMONT PARK,City,Yes,{AE8AA083-2293-406D-8111-31FFFF8E4642},POINT (-121.48911 38.57085)

In [48]:
joined_neighborhoods = geopandas.sjoin(restrooms, neighborhoods)

In [55]:
joined_neighborhoods

,OBJECTID_left,NAME,SHAPE_Length,SHAPE_Area,geometry,index_right,OBJECTID_right,Facility,JURISDICTION,WithinPark,GlobalID
1,2,Regency Park,0.053250,0.000152,"MULTIPOLYGON (((-121.49346 38.67733, -121.4945...",29,245,REGENCY COMMUNITY PARK,City,Yes,{75847E01-A807-490C-B4F6-B5BD916C32FE}
5,6,Westlake,0.057773,0.000188,"MULTIPOLYGON (((-121.54085 38.66931, -121.5408...",34,250,WESTLAKE COMMUNITY PARK,City,Yes,{63086DD1-AB1C-4E01-8CE5-79F48F8997D1}
10,11,RP - Sports Complex,0.099377,0.000390,"MULTIPOLYGON (((-121.52442 38.66646, -121.5240...",38,255,NORTH NATOMAS REGIONAL PARK,City,Yes,{11EF6DB0-2A4C-44E4-A2F2-8496494FC1AF}
19,20,Natomas Crossing,0.074296,0.000282,"MULTIPOLYGON (((-121.50033 38.63392, -121.5087...",33,249,TANZANITE COMMUNITY PARK (BASIN 6A),City,Yes,{C2D56741-4ACD-4DAD-99B6-7BAAE1735DBC}
21,22,Del Paso Park,0.133321,0.000345,"MULTIPOLYGON (((-121.41555 38.62482, -121.4169...",56,298,DEL PASO REGIONAL PARK,City,Yes,{4E6B1469-5820-48E9-BFD2-7E6BA29B4CEA}
...,...,...,...,...,...,...,...,...,...,...,...
115,116,Valley Hi / North Laguna,0.202974,0.001480,"MULTIPOLYGON (((-121.46069 38.46335, -121.4610...",53,295,SHASTA COMMUNITY PARK,City,Yes,{D375DD57-3C76-4221-B524-A7800D2284D1}
115,116,Valley Hi / North Laguna,0.202974,0.001480,"MULTIPOLYGON (((-121.46069 38.46335, -121.4610...",32,248,SHASTA COMMUNITY PARK,City/County,Yes,{798CED48-B670-4C88-9846-1B5D15D4B9E6}
123,124,Ramona Village,0.049957,0.000137,"MULTIPOLYGON (((-121.40906 38.54481, -121.4091...",70,314,TAHOE TALLAC PARK,City,Yes,{FC5A6F51-DAFB-4331-8B80-7D35AFC9C755}
127,128,Village 7,0.042641,0.000068,"MULTIPOLYGON (((-121.52761 38.68537, -121.5276...",58,300,VALLEY OAK PARK,City,Yes,{693C9CCD-60FB-414D-BD6E-B8361664459E}
128,129,Natomas Park,0.119079,0.000431,"MULTIPOLYGON (((-121.49341 38.67072, -121.4933...",27,243,NORTH NATOMAS COMMUNITY PARK,City,Yes,{BEDA1EA9-3DE6-4C07-B3B4-9DDE008300D6}

In [53]:
# sorty by OBJECTID_left id to simplify comparison with JS
joined_neighborhoods.sort_values('OBJECTID_left', inplace=True)

In [54]:
joined_neighborhoods.to_file("./output/merged_neighborhoods_geopandas.json", driver='GeoJSON')

In [3]:
world = geopandas.read_file(geopandas.datasets.get_path('naturalearth_lowres'))

In [4]:
world.to_file('./output/word.json',driver='GeoJSON')

In [5]:
cities = geopandas.read_file(geopandas.datasets.get_path('naturalearth_cities'))

In [6]:
cities.to_file('./output/cities.json',driver='GeoJSON')